@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-leadspace-home {
  @include grid-container();

  &__content {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;

    @include grid-col(4, 4);

    @include breakpoint(650px) {
      @include grid-col(10, 12);
      @include grid-offset-col(1, 12);
    }

    @include breakpoint(750px) {
      @include grid-col(9, 12);
    }

    @include breakpoint(850px) {
      @include grid-col(8, 12);
      @include grid-offset-col(2, 12);
    }

    @include breakpoint(950px) {
      @include grid-col(7, 12);
    }

    @include breakpoint(1300px) {
      @include grid-col(6, 12);
    }

    @include breakpoint(1400px) {
      @include grid-col(5, 12);
    }
  }

  &__cta {
    margin-top: 64px;

    & > span {
      padding-right: 64px;
    }
  }

  &__title {
    @include set-type('h3');
    margin-top: 0;
    margin-bottom: 32px;


    @include breakpoint(700px) {
      margin-bottom: 64px;
    }
  }

  &__bg {
    position: absolute;
    top: -330px;
    left: -500px;
    z-index: -1;

    // @include breakpoint(546px) {
    //   top: -30%;
    //   right: -20%;
    // }

    @include breakpoint(650px) {
      top: -400px;
      left: -320px;
    }

    @include breakpoint(750px) {
      // top: -25%;
      // right: -20%;
    }

    @include breakpoint(850px) {
      // top: -25%;
      // right: -10%;
    }

    @include breakpoint(950px) {
      // top: -25%;
      // right: -15%;
    }

    @include breakpoint(1300px) {
      // top: -25%;
      // right: -15%;
    }

    @include breakpoint(1400px) {
      // top: -25%;
      // right: -15%;
    }
  }
}
