@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

@mixin buttonBorder ($outer-border-color, $inner-border-color) {
  & > span {
    box-shadow: inset 0 3px 0 0 $outer-border-color,
                inset 0 -3px 0 0 $outer-border-color,
                inset 0 4px 0 0 $inner-border-color,
                inset 0 -4px 0 0 $inner-border-color;
  }

  &::before {
    box-shadow: inset 0 0 0 3px $outer-border-color,
                inset 0 0 0 4px $inner-border-color;
  }

  &::after {
    box-shadow: inset 0 0 0 3px $outer-border-color,
                inset 0 0 0 4px $inner-border-color;
  }
}

.ams-btn {
  $type: 'p';
  $height: spacer(8);
  $padding: get-type-padding($type, $height);

  cursor: pointer;
  z-index: 1;
  border: 0;
  padding: 0;
  margin: 0 $height * .45 / 2;
  outline: none;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;

  i {
    position: absolute;
    right: $height * .45 / 2;
    font-size: 1.2rem;

    transition: right .2s ease-in-out;
  }

  &:hover i {
    right: 5px;
  }

  @include set-type($type);
  font-family: $font-family;

  & > span {
    display: block;
    // max-width: $height * 6;
    text-align: left;
    padding: $padding;
    // padding-right: $height * 2;
    background-color: var(--link-color);
    color: var(--background-color);
    z-index: 1;
    transition: all .2s ease-in-out;
  }

  &::before {
      @include create-pipe-end(var(--link-color), 'left', $height * .45);
      transition: all .2s ease-in-out;
  }

  &::after {
      @include create-pipe-end(var(--link-color), 'right', $height * .45);
      transition: all .2s ease-in-out;
  }

  &:active,
  &:focus {
    @include buttonBorder(var(--focus-color), var(--background-color));
  }

  &:active,
  &:hover {
    & > span {
      background-color: var(--hover-color);
    }

    &::before {
      background-color: var(--hover-color);
    }

    &::after {
      background-color: var(--hover-color);
    }
  }
}
