@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-capability-list {
  @include grid-container();
  margin-top: 160px;
  margin-bottom: 160px;

  &__title {
    @include set-type('h4');
    @include grid-col(12, 12);

    @include breakpoint (1250px) {
        @include grid-col(8, 12);

        &:first-child {
          @include grid-offset-col(2, 12);
        }
    }

    // font-weight: bold;
    margin-bottom: 40px;
    margin-top: 0;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    @include grid-col(12, 12);

    @include breakpoint (1250px) {
      @include grid-col(8, 12);
      @include grid-offset-col(2, 12);
    }
  }

  &__item {
    position: relative;

    @include grid-col(2, 4, false);

    @include breakpoint (700px) {
        @include grid-col(4, 12, false);
    }

    @include breakpoint (1000px) {
        @include grid-col(3, 12, false);
    }

    @include breakpoint (1250px) {
        @include grid-col(4, 12, false);
    }

    &-container {
      padding-top: 100%;

      &::before {
        content: '';
        height: 75%;
        width: 75%;
        top: 0;
        left: 0;
        position: absolute;
        background: $gray-light-20;
        border-radius: 50%;
      }
    }

    &-content {
      position: absolute;
      bottom: 50%;
      left: 20%;
    }

    &-title {
      @include set-type('h5');
      font-weight: bold;
    }

    &-title,
    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
