@import '../../globals/scss/colors';

.ams-logo {
  $padding: 8px;
  outline: none;
  margin-left: -$padding;
  padding: 8px;
  display: block;

  svg {
    fill: $primary-blue;
    display: block;
  }

  &--highlight {
    fill: $primary-red;
  }

  &__pipe {
    transition: transform .5s ease-in-out;
    transform-origin: 45% 50%;
    transform-box: fill-box;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--focus-color);
  }

  &:hover .ams-logo__pipe,
  &--hovered .ams-logo__pipe {
    transform: rotate(360deg);
  }
}
