@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-footer {
  background: linear-gradient(90deg, $background-color-alt 25%, transparent 25%);

  h1 {
    @include set-type('h5');
    margin-bottom: spacer(4);
  }

  address {
    @include set-type('sm');
    font-style: normal;

    p {
      margin-top: 0;
      margin-bottom: spacer(1);
    }
  }

  &__container {
    @include grid-container;
  }

  &__big-blue {
    @include grid-col(5);
    padding-top: spacer(4);
    padding-bottom: spacer(4);
    background: $background-color-alt;
    position: relative;
    color: $text-color-alt;

    &::after {
      @include create-pipe-end($background-color-alt);
    }
  }

  .ams-logo {
    @include grid-col(1, 6);
    display: block;
    float: initial;

    margin-bottom: spacer(2);

    path {
      fill: $text-color-alt;
    }

    &:focus {
      --focus-color: #{$text-color-alt};
    }
  }
}
