@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-starburst {
  display: block;

  transform: rotate(-125deg) scale(1);
  animation: sunburstAnimation 2s 1 ease-out;

  @include breakpoint (550px) {
    animation: sunburstAnimation 1s 1 ease-out;
  }
}

@keyframes sunburstAnimation {
    from {
      transform: rotate(-125deg - 180) scale(0);
      opacity: 0;
    }
    to {
      transform: rotate(-125deg) scale(1);
      opacity: 1;
    }
}
