@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-main-nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;

    & > a,
    & > button {
      display: block;
      text-decoration: none;
      padding: 5px $gutter/2;
      border-radius: var(--border-radius);
      outline: none;
      margin-right: $gutter/2;
      color: var(--link-color);
      transition: all .2s ease-in-out;

      &:hover {
        background: var(--background-color);
        // background: $gray-light-20;
        color: var(--link-color);
      }

      &:focus {
        // box-shadow: inset 0 0 0 1px $gray-light-40;
        box-shadow: inset 0 0 0 1px var(--background-color);
        color: var(--link-color);
      }

      &:active {
        // background: $gray-light-30;
        background: var(--background-color);
        color: var(--link-color);
      }
    }
  }
}
