@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-main-nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;

    & > a,
    & > button {
      display: block;
      text-decoration: none;
      padding: 5px $gutter/2;
      border-radius: var(--border-radius);
      outline: none;
      margin-right: $gutter/2;
      color: $primary-blue;
      transition: all .2s ease-in-out;

      &:hover {
        background: $gray-light-20;
      }

      &:focus {
        box-shadow: inset 0 0 0 1px $gray-light-40;
      }

      &:active {
        background: $gray-light-30;
      }
    }
  }
}
