@import '../../globals/scss/colors';
@import '../../globals/scss/grid';
@import '../../globals/scss/type';
@import '../../globals/scss/spacing';

.ams-link {
  & {
    color: var(--link-color);
    text-decoration: none;
    box-shadow: 0 1px 0 var(--link-color);
    transition: all .2s ease-in-out;
    outline: none;
    outline-style: solid;
    outline-width: 0;
    outline-color: transparent;
  }

  &:focus {
    outline-width: 1px;
    outline-color: var(--link-color);
  }

  &:hover {
    --link-color: var(--hover-color);
  }
}
